<div class="container ">
    <div class="row d-flex justify-content-center w-100">
        <div class="card text-dark m-2" style="width: 18rem;" *ngFor="let product of productList">
            <img [src]="product.imagem_url" class="card-img-top " height="300" width="200">
            <div class="card-body d-flex justify-content-center">
                <div class="container-fluid p-0">
                    <div class="row w-100 card-title">
                        <h2 class="">{{product.nome}}</h2>
                    </div>
                    <div class="row card-text text-center">
                        <p class="fs-3">{{product.preco | currency:'R$'}}</p>
                    </div>
                    <div class="row card-footer d-flex justify-content-center" style="background-color: white;">
                        <div class="d-flex justify-content-center align-items-center div-input-amount"
                            style="z-index: 2;">
                            <button class="btn-amount d-flex justify-content-center align-items-center" type="button"
                                (click)="decrement(product)">
                                <i class="fas fa-minus fa-2x icon-amount"></i>
                            </button>

                            <input type="number" (blur)="changeValue($event.target.value, product)" [value]="product.quantidade" min="0"
                                class="input-amount-product" style="z-index: 2;">

                            <button class="btn-amount d-flex justify-content-center align-items-center" type="button"
                                (click)="increment(product)">
                                <i class="fas fa-plus fa-2x icon-amount"></i>
                            </button>
                        </div>
                        <div class="row mt-4">
                            <button name="" id="" class="btn btn-primary button-add-cart" role="button"
                                [disabled]="product.isAdd" (click)="addCart(product)">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>